*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body{
    display: flex;
    background-color: transparent;
    width: auto;
    height: auto;
    background-color: rgb(110, 92, 69);
}

form {
    display: flex;
    justify-content: center ;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    width: auto;
    height: auto;
    border-radius: 50px;
}

.head{
    display: flex ;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.weather-container {
    border-radius: 50px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 1rem;
}

.search input{  
    border: none;
    height: 10vh;
    width: 30vh;
    outline: none;
    font-size: 1rem;
    padding-left: 1rem;
    background-color: rgb(239, 231, 231);
}

.search input:focus{
    background-color: rgb(239, 231, 231);
}

datalist {
    text-decoration: none;
    cursor: pointer;
}

.weather-detect{
    display: flex;
}


.temperature{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: auto;
    height: auto;
    margin-left: 0.5rem;
    padding: 1rem;
    gap: 1rem;
    font-size: 3rem;
}   

.temperature i{
    animation: up1 0.8s alternate;
}

@keyframes up1 {
    0%{
        transform: skewX(340deg);
    }
    50%{
        transform: matrix3d(360deg);
    }
    100%{
        transform: skewY(180deg);
    }
}

button{
    width: 20vh;
    height: 9.9vh;
    text-decoration: none ;
    border: none;
    outline: none;
    margin-right: 1rem;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}
#btn:hover{
    cursor: pointer;
    background-color: rgb(61, 57, 57);
    color: white;
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    height: 10vh;
    width: 5vh;
    background-color: rgb(239, 231, 231);
    border: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.feels1{
    display: flex;
    justify-content: space-between;
    margin-top: -1rem;
    margin-left: 3rem;
    font-size: 0.5rem;
}

#overcast{
    margin-right: 2rem;
}


.city{
    font-size: 0.8rem;
    margin-left: 13rem;
    padding-bottom: 1rem;
}

.github{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex ;
    justify-content: center;
    align-items: center;
}

.github a{
    text-decoration: none;
}

.weather-video {
    height: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 50%;
}
